<%= link_to "Back to Employee Index", "/employees"%>

<h1><%= @employee.name %></h1> 
<p>ID: <%= @employee.id%> </p>
<p>Position: <%= @employee.position%> </p>
<p>Active: <%= @employee.active%> </p>
<p>When Hired: <%= @employee.hired_date%> </p>
<p>Hourly Wage: <%=number_to_currency(@employee.hourly_wage, precision:2)%> </p>
<p>Salary Employee: <%= @employee.salary%> </p>
<%= link_to "Update Employee", "/employees/#{@employee.id}/edit"%>