<h1>Restaurant: <%= @restaurant.name %></h1>
<%= form_tag("/restaurants/#{@restaurant.id}/employees", method: :get) do %>
<%= label_tag("Filter by Wage") %>
<%= text_field_tag(:wage_filter, params[:wage_filter]) %>
<%= submit_tag("Submit") %>
<% end %>
<br>
<%= link_to "Add a New Employee", "/restaurants/#{@restaurant.id}/employees/new" %>
<br>
<%= link_to "Sort by Alphabetical Order", :sort => "asc"%>
<h3>Employees List:</h1>
<% @restaurant_employees.each do |e| %>
<h4><%= e.id %>. <%= e.name %></h4>
<p>Position: <%= e.position%> </p>
<p>Active: <%= e.active%> </p>
<p>When Hired: <%= e.hired_date%> </p>
<p>Hourly Wage: <%= number_to_currency(e.hourly_wage, precision:2)%> </p>
<p>Salary Employee: <%= e.salary%> </p><p><%= link_to "Edit #{e.name}", "/employees/#{e.id}/edit" %></p>
<p>-----------------------------------------------------</p>
<% end %>