<%= link_to "Back to Restaurant Index", "/restaurants"%>

<h1><%= @restaurant.name %></h1>
<p>Restaurant ID: <%=@restaurant.id %>
<p>Location: <%= @restaurant.location %></p>
<p>Offers Insurance: <%= @restaurant.offers_insurance %></p>
<p>Max Employee Quantity: <%= @restaurant.max_employee_quantity %></p>
<p>Opening Date: <%= @restaurant.opening_date %></p>
<p>Employee Count: <%= @restaurant.employee_count %></p>
<%= button_to "Update #{@restaurant.name}", "/restaurants/#{@restaurant.id}/edit", method: :get %>
<%= link_to "Delete #{@restaurant.name}", "/restaurants/#{@restaurant.id}", method: :delete %>
<br>
<%= link_to "Go to Employees List", "/restaurants/#{@restaurant.id}/employees"%>
