<h1><%= @restaurant.name %></h1>
<p>Location: <%= @restaurant.location %></p>
<p>Offers Insurance: <%= @restaurant.offers_insurance %></p>
<p>Max Employee Quantity: <%= @restaurant.max_employee_quantity %></p>
<p>Opening Date: <%= @restaurant.opening_date %></p>
